* {
    box-sizing: border-box;
}

.game-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0c0c2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    direction: rtl;
}

.game-bg-div {
    position: absolute;
    top: 28%;
    background-color: #292947;
    border-radius: 30px;
    width: 85%;
    height: 60%;
    max-width: 400px;
    padding: 6% 5%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}
