
.asteroid-info-id {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0c0c2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    direction: rtl;
}