.opening-text {
    position: absolute;
    width: 335px;
    left: calc(50% - 335px/2 + 0.5px);
    top: 30%;
    font-size: 1.2rem;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.button {
    position: absolute;
    width: 191px;
    height: 56px;
    left: calc(50% - 191px/2 + 0.5px);
    top: 92vh;
    direction: rtl;
}

.fade-in {
    animation: fadeIn 1.3s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}