@font-face {
    font-family: "space-font";
    src: url(../../assets/fonts/OzradCLM/OzradCLM-Bold.otf) format("opentype");
}

#end {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #070727;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    direction: rtl;
    text-align: center;
}

.subj-header {
    margin-top: 25%;
    width: 85%;
    color: white;
    font-size: 2rem;
    line-height: 1.3;
    font-family: "space-font", sans-serif;
    z-index: 10;
    white-space: pre-line;
}

#dani-end {
    position: absolute;
    bottom: 18%;
    width: 40%;
    max-width: 280px;
    z-index: 5;
}

.end-mini-text {
    position: absolute;
    bottom: 14%;
    color: white;
    font-size: 1.1rem;
    z-index: 10;
    opacity: 0.9;
}