@font-face {
    font-family: "space-font";
    src: url(../../assets/fonts/OzradCLM/OzradCLM-Bold.otf) format("opentype");
}

#header-bg {
    position: relative;
    z-index: 1;
    background: #070727;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 435px;
    min-width: 320px;
    width: 100%;
    height: 4rem;
}

.mador-til-logo {
    max-width: 3rem;
    max-height: 3rem;
}

#header-bg>p {
    font-size: 0.9rem;
    margin-left: 2.8rem;
    font-family: "space-font";
}

.logo {
    max-width: 2.7rem;
    max-height: 2.7rem;
}