.opening-text {
  position: absolute;
  max-width: 300px;
  top: 30%;
  font-size: 1.2rem;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.opening-page {
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 480px;
}

.button {
  position: absolute;
  width: 191px;
  height: 56px;
  left: calc(50% - 191px/2 + 0.5px);
  top: 92vh;
}

.fade-in {
  animation: fadeIn 1.3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.opening-gif {
  background-size: 100% 100%;
  width: 100%;
  height: 100vh
}