.app {
    min-height: 100vh;
    width: 100%;
    max-width: 435px;
    margin: 0 auto;
    background-color: #070727;
    color: white;
}

.button {
    border-radius: 30px;
    background: #3A184B;
    color: white;
    font-size: 1.2rem;
    border: none;
}

.back-button {
    position: absolute;
    top: 10%;
    right: 5%;
}

.half-planet {
    position: absolute;
    bottom: -50%;
    width: 150vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}