
body {
    background-color: #3B6771;
    font-family: system-ui, sans-serif;
    overflow: hidden;
}

@media (max-width: 480px) {
    body {
        margin: 0;
        box-sizing: border-box;
        background-size: 100vw 100vh;
        min-height: 100vh;
        font-family: system-ui, sans-serif;
    }
}

::selection {
    background-color: #3B6771;
    color: white;
}