* {
    box-sizing: border-box;
}

.definition-score-end {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0c0c2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    direction: rtl;
    color: white;
    font-family: sans-serif;
}

#bg-div-score {
    position: absolute;
    top: 25%;
    background-color: #292947;
    border-radius: 40px;
    width: 85%;
    height: 50%;
    max-width: 400px;
    padding: 10% 5%;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

#circle-div {
    width: 200px;
    height: 200px;
    background: #4A4A62;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#number {
    font-size: 4.5rem;
    font-weight: 400;
    color: white;
}

#top {
    top: 10%;
}

#bottom {
    top: 76%;
}

#bottom span {
    font-weight: bold;
    font-size: 1.3rem;
}

#next-score {
    top: 83%;
}

/* Decorative Planet Background */
.half-planet {
    position: absolute;
    bottom: -10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 140%;
    z-index: 1;
}