* {
    box-sizing: border-box;
}

.definition-quiz-intro {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #0c0c2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    direction: rtl;
}

#bg-div {
    position: absolute;
    top: 28%;
    background-color: #292947;
    border-radius: 30px;
    width: 85%;
    height: 48%;
    max-width: 400px;
    padding: 6% 5%;
    text-align: center;
    z-index: 2;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
}

#small-header {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1vh;
}

#color-text {
    font-size: 1.6rem;
    margin-bottom: 2vh;
}

#red-text {
    color: #F47160;
}

#green-text {
    color: #AFE2B1;
}

#bg-div .button {
    position: absolute;
    top: 79%;
    left: 50%;
    background-color: #AB479A;
    width: 40%;
    padding: 12px 0;
    font-size: 1.2rem;
    border-radius: 50px;
    border: none;
}

.mini-text-quiz {
    position: absolute;
    bottom: 14vh;
    right: 10%;
    top: 75%;
    font-size: 0.9rem;
    z-index: 5;
}

.go-back-button {
    position: absolute;
    top: 80%;
    right: 10%;
    background-color: #3A184B;
    width: 45%;
    z-index: 5;
}

#dani-definition-right {
    position: absolute;
    bottom: 2vh;
    left: 5%;
    width: 35%;
    max-width: 180px;
}

/* Media Query for very small screens (e.g. iPhone SE) */
@media (max-height: 670px) {
    #bg-div {
        padding: 4% 5%;
    }

    .text {
        font-size: 0.85rem;
        margin-bottom: 1.5vh;
    }

    #color-text {
        font-size: 1.3rem;
    }
}

#ready-text {
    position: absolute;
    top: 70%;
}